*{
    margin: 0;
    padding: 0;
}

html, body{
    --black: hsl(240, 6% ,13%);
    --grey: hsl(240,9%, 89%);

    height: 100%;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
}

body{
    display: grid;
    place-items: center;
}

main{
    background: url(../img/background.svg) no-repeat center/cover;
    width: 100vh;
    min-height: 55.625rem;
    height: 100vh;
}

.container {
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: var(--grey);
}

.avatar {
    width: 10rem;
    margin:11.5rem auto 0;
    position: relative;
}


.avatar span{
    position: absolute;
    top: -15px;
    z-index: 1;
}

.avatar > img {
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
    
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.avatar > img:hover {
    transform: scale(1.15);
    transition: 0.2s;
}
  
  .avatar span {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}
  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
}
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
}
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}


h1 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

a {
    color: var(--grey);
    text-decoration: none;
  
    margin-top: 0.25rem;
  
    display: flex;
    gap: 0.75rem;
  
    justify-content: center;
    align-items: center;
  }

p {
    margin-top: 2rem;
}

ul {
    margin-top: 4rem;

    list-style: none;
    padding: 0;

    display: flex;
    gap: 0.5rem;
    
    justify-content: center;
}

li:hover{
    background: linear-gradient(to right, #167FC9, #2B33B2);
}

ul li {
    transition: 0.2s;
    border-radius: 8px;
}

/*Responsivo*/

@media (min-width: 960px) {
    /* estilos versão desktop */
    html,
    body {
      background: rgb(18, 18, 20);
    }
}

html{
    background-size: 800% 800%;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;

    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(179deg, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(179deg, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@-webkit-keyframes AnimationName {
    0% {
      background-position: 49% 0%;
    }
    50% {
      background-position: 52% 100%;
    }
    100% {
      background-position: 49% 0%;
    }
}

@-moz-keyframes AnimationName {
    0% {
      background-position: 49% 0%;
    }
    50% {
      background-position: 52% 100%;
    }
    100% {
      background-position: 49% 0%;
    }
}

@keyframes AnimationName {
    0% {
      background-position: 49% 0%;
    }
    50% {
      background-position: 52% 100%;
    }
    100% {
      background-position: 49% 0%;
    }
}

body {
    background: url(/img/desktop.svg) no-repeat center/cover;
}

  main {
    /* transform: translateY(-1.3rem); */
    display: flex;
    background: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}
